*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background-color: #3882F6;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 5px 25px;
    border-radius: 6px;
    font-weight: 600;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header .Logo,
.header .Links {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    width: 450px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    /* justify-content: center; */
}

.Links .link1, .Links .link2, .Links .link3{
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #F9FAF8;
    display: flex;
    
}


.item1 {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 400px;
    display: flex;
    align-items: center;       
    justify-content: center;
    gap: 40px;
}

.flex-container .item2 {
    background: rgb(255, 255, 255);
    /* border: 1px solid black; */
    height: 400px;
}
.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cards {
    display: flex;
    gap: 20px;
}

.cards > div {
    width: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    font-size: 14px;
}

.cards > div > div {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.cards p {
    margin-top: 8px;
}
.heading{
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.flex-container .item3 {
    background:  #E5E7EB;
    /* border: 1px solid black; */
    height: 350px;
}
.item3 {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3-inner {
    width: 800px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.credits{
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.flex-container .item4 {
    background: rgb(245, 243, 246);
    /* border: 1px solid black; */
    height: 300px;
}
.item4 {
    background: rgb(245, 243, 246);
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item4 > div {
    height: 120px;
    width: 800px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup-box {
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    color: white;
}
.sign-up-button{
    border: 1px solid white;
}
.sub1, .sub2 {
    background-color: red;
    /* border: 1px solid black; */
    width: 450px;
    height: 250px;
    flex: none;
}
.sub1{
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
}
.sub1 p{
    font-size: 18px;
}

.flex-container .footer {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: flex;
    color: #F9FAF8;
}


