*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background-color: #3882F6;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 5px 25px;
    border-radius: 6px;
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header .Logo,
.header .Links {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    width: 450px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    /* justify-content: center; */
}

.Links .link1, .Links .link2, .Links .link3{
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #F9FAF8;
    display: flex;
    
}


.item1 {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 400px;
    display: flex;
    align-items: center;       
    justify-content: center;
    gap: 40px;
}

.flex-container .item2 {
    background: rgb(169, 134, 199);
    /* border: 1px solid black; */
    height: 300px;
}

.flex-container .item3 {
    background:  #E5E7EB;
    /* border: 1px solid black; */
    height: 300px;
}
.item3 {
    background: #E5E7EB;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item3-inner {
    width: 800px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.credits{
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.flex-container .item4 {
    background: rgb(24, 8, 39);
    /* border: 1px solid black; */
    height: 300px;
}

.sub1, .sub2 {
    background-color: red;
    /* border: 1px solid black; */
    width: 450px;
    height: 250px;
    flex: none;
}
.sub1{
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
}
.sub1 p{
    font-size: 18px;
}

.flex-container .footer {
    background: #1F2937;
    /* border: 1px solid black; */
    height: 70px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: flex;
    color: #F9FAF8;
}


